#themecolors .selector,
.cursor {
  cursor: pointer;
}

.img-avatar {
  width: 200px;
  height: 200px;
}

.w100 {
  width: 100px;
}

.w140 {
  width: 140px;
}

.avatar {
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.background-modal-image {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 999;
}

.hide {
  display: none;
}
